@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="${item.id}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true"  readonly="readonly"/>
                            <#input id="name" name="名称" value="${item.name}" />
                </div>
                <div class="col-sm-6">
                            <#input id="className" name="类名" value="${item.className}" underline="true"/>
                            <#input id="tplCode" name="外部模板编号" value="${item.tplCode}" />
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MessageSenderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MessageSenderInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/message/sender/sender_info.js"></script>
@}
